<h3>Add comments</h3>

<%= form_for([@post, @post.comments.build]) do |f| %>

	<p>
		<%= f.label :username %><br>
		<%= f.text_field :username, :required => true %>
	</p>

	<p>
		<%= f.label :body %><br>
		<%= f.text_field :body %>
	</p>
	
	<p>
		<%= f.submit  class: 'btn btn-warning'  %>
	</p>
<% end %>
