<h2>Edit Data</h2>

<%= form_for :expense, url: expense_path(@expense), method: :patch do |f| %>
    <p>
        <%= f.label :Amount %><br>
        <%= f.text_field :title %>
    </p>
  
    <p>
        <%= f.label :Description %><br>
        <%= f.text_area :body %>
    </P>
    
    <p>
        <%= f.label :Date %><br>
        <%= f.date_field :date %>
    </p>

    <p>
        <%= f.submit "Save Expense", class: "btn btn-primary" %>
        <%= link_to "Cancel", root_path, class: "btn btn-danger" %>
    </p>
    
<% end %>
